.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-box {
  border: none;
  border-bottom: 2px solid #ccc;
  background-image: url("http://www.w3schools.com/howto/searchicon.png");
  background-repeat: no-repeat;
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding: 0 0 0 30px;
}

.search-box:focus {
  outline: none;
}

.search-results-ul {
  width: 400px;
  max-height: 480px;
  overflow:scroll;
  padding: 0;
}

.search-results-ul img {
  width: 100px;
  height: 70px;
  padding: 10px 15px 10px 10px;
}

.search-results-ul li {
  border: 1px solid #ccc;
  list-style: none;
  display: flex;
  flex-direction: row;

}

.search-results-ul li:hover {
  background-color: #e8f0ff;
  cursor: pointer;
}

.search-results-ul li div {
  margin-top: 30px;
}
